.text-sm
	font-size: 1rem

.error-modal-in-animation
	animation: error-modal-in-animation 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28)
	-webkit-animation: error-modal-in-animation 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28)
	-moz-animation: error-modal-in-animation 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28)

.error-modal-out-animation
	animation: error-modal-out-animation 0.4s

@keyframes error-modal-in-animation
	from
		transform: translateX(415px)
		opacity: 0.2
	to
		transform: translateX(0)
		opacity: 1

@keyframes error-modal-out-animation
	from
		transform: translateX(0)
		opacity: 1
	to
		transform: translateX(415px)
		opacity: 0
