<div class="container m-auto">
	<div class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="errormodal"
		#errormodal><!--  inset-0 bg-gray-500 bg-opacity-80 transition-opacity -->
		<div class="fixed z-10 top-0 right-0">
			<div class="flex flex-col items-start justify-center min-h-full p-4 text-center sm:p-0">
				<div class="relative bg-red-600 rounded-xl text-left overflow-hidden shadow-xl transform transition-all sm:my-2 mb-4 sm:mx-6 sm:max-w-lg w-full md:w-96 cursor-pointer"
					(click)="showPopup(false)" id="errorbox" #errorbox>
					<div class="bg-red-600 px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
						<div class="flex items-center w-full">
							<div
								class="flex-shrink-0 flex items-center justify-center h-6 w-6 rounded-full bg-red-100 mx-2 sm:mx-0 sm:h-10 sm:w-10">
								<!-- Heroicon name: outline/exclamation [in a triangle] -->
								<svg class="h-5 w-5 sm:h-6 sm:w-6 text-red-600" xmlns="http://www.w3.org/2000/svg"
									fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
									aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
								</svg>
							</div>
							<div class="text-center sm:mt-0 sm:ml-4 sm:text-left">
									<p class="text-sm text-red-100 font-sans w-auto whitespace-normal break-words">
										{{ error_message }}
									</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
