#tab
	transition: all 0.3s ease-out, visibility 0.3s ease-in-out, opacity 0.1s ease-in-out

@media only screen and (min-width: 1023px)
	#tab-desc
		opacity: 0
		visibility: hidden
	#tab:hover
		transform: scale(1.05)
		p#tab-label, svg
			transform: translateY(-7px)
		p#tab-desc
			visibility: visible
			opacity: 1
