<div class="container m-auto">
	<div class="flex justify-center justify-center flex-wrap" id="tabs-container">
		<!-- Tab -->
		<div class="text-center w-60 h-72 p-4 py-5 m-4 border-2 rounded-2xl bg-gray-900 border-gray-900 flex flex-wrap flex-col justify-between h-full cursor-pointer"
			[routerLink]="['passwords']" queryParamsHandling='preserve' id="tab">
			<div class="my-5" id="tab-img">
				<!-- Heroicons: ouline/database -->
				<svg xmlns="http://www.w3.org/2000/svg" class="h-20 mx-auto stroke-orng-500" fill="none" viewBox="0 0 24 24" stroke-width="1">
					<path stroke-linecap="round" stroke-linejoin="round"
						d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4" />
				</svg>
			</div>
			<p class="font-fira font-bold tracking-wide my-1 text-silver-100" id="tab-label">
				Saved Passwords
			</p>
			<p class="font-sourcesans h-14 text-md my-1 text-silver-100 w-full" id="tab-desc">
				Your all saved passwords and their information
			</p>
		</div>
		<!-- Tab Ends -->
	</div>
</div>
