.add-button:hover
	transform: scale(1)

#stacked-list-container
	transition: border 0.2s ease-in-out
	border: 5px solid #f1f0ea
	font-size: 16px
	#stacked-list-content
		#col-3 p span.text
			transition: filter 0.34s cubic-bezier(0.62, -0.05, 0.3, 1.02)
		.blurred
			filter: blur(7px)
		.unblurred
			filter: blur(0px)
#stacked-list-container:hover
	// box-shadow: inset 2px 0px 5px #2D232E
	border: 5px solid #FF9201

.left-33
	left: 33.3333333%

.custom-filled-button
	border-radius: 0.6rem
	padding: 0.375rem 0.675rem
	white-space: nowrap
	font-size: 0.8rem

button.delete-button
	span
		position: relative
		border-radius: 3px
		width: fit-content
		height: 16px
		border: 1.5px solid #000000

@media only screen and (min-width: 768px)
	.left-33
		left: 44.5%
