<div class="fixed top-0">
	<div id="timer-container" class="fixed z-50 top-0 left-33">
		<div id="timer-box"
			class="p-4 bg-slate-50 shadow-xl rounded-xl border-4 border-slate-50 w-44 h-16 text-md text-center highlight">
			<div id="time" class="" #time></div>
		</div>
	</div>
</div>


<div class="container m-auto">
	<div id="back-button" class="cursor-pointer my-4">
		<p class="font-fira" [routerLink]="['/user/dashboard']">
			<i class="bi bi-arrow-left"></i>
			Back
		</p>
	</div>
	<div id="search-field-container" class="h-14 mx-3">
		<div id="search-field-box" class="rounded-2xl w-full">
			<input type="search" placeholder="Search by Name or Keyword"
				class="w-full h-full font-sourcesans text-silver-800 outline-4 rounded-2xl p-3 outline-orng-800">
		</div>
	</div>

	<!-- List Container -->
	<div id="list-container" class="p-4 bg-silver-800 rounded-xl mx-3">
		<!-- Heading | Add new Button -->
		<div class="flex items-center justify-between">
			<div id="list-text" class="font-fira text-silver-100 text-xl tracking-wide antialiased">
				Passwords
			</div>
			<button id="add-button" class="custom-filled-button">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-silver-100 inline-block" fill="none"
					viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
				</svg>
				<span class="hidden lg:contents"> Add </span>
			</button>
		</div>
		<!-- Heading | Add new Button Ends -->


		<br>



		<!-- Stacked List -->
		<div id="stacked-list-container"
			class="w-full bg-silver-100 p-3 shadow-lg border-silver-100 rounded-xl my-3 mb-9 overflow-hidden cursor-pointer">
			<!-- Stacked List Content -->
			<!-- Loop for multiple -->
			<div id="stacked-list-content" class="flex items-center justify-between">
				<!-- Site Name -->
				<div id="col-1" class="block basis-full md:basis-56">
					<p class="font-sourcesans text-md text-silver-800 block">
						Authenticator Password Name
					</p>
					<p class="font-sourcesans text-sm text-neutral-400">
						Some Description of the content provided.
					</p>
				</div>

				<!-- Site Username/Email -->
				<div id="col-2" class="hidden md:block basis-72">
					<p class="font-fira text-md">
						website.email_2344232@gmail.com
					</p>
				</div>

				<!-- Password -->
				<div id="col-3" class="hidden lg:inline-block">
					<button id="copy-button" class="svg-parent">
						<img src="assets/images/icons/copy.svg" class="svg-child" />
					</button>
					<!-- SVG/eye close -->
					<span class="mx-2" (click)="close_eye = !close_eye">
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
							class="bi bi-eye-slash h-6 w-6 inline-block" viewBox="0 0 16 16" *ngIf="!close_eye">
							<path
								d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
							<path
								d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
							<path
								d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
						</svg>
						<!-- SVG/eye open -->
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
							class="bi bi-eye h-6 w-6 inline-block" viewBox="0 0 16 16" *ngIf="close_eye">
							<path
								d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
							<path
								d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
						</svg>
					</span>

					<!-- SVG/copy -->
					<span class="mx-2">
						<!-- SVG/check2 -->
						<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
							class="bi bi-check2 h-7 w-7 inline-block" viewBox="0 0 16 16" *ngIf="is_text_copied">
							<path
								d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
						</svg>
					</span>
				</div>

				<!-- Action buttons -->
				<div id="col-4" class="hidden md:block">
					<button class="svg-parent update-button">
						<img src="assets/images/icons/edit.svg" class="svg-child edit-svg" title="Edit/Update" />
					</button>
					<button class="svg-parent delete-button">
						<img src="assets/images/icons/delete.svg" class="svg-child delete-svg" title="Delete" />
					</button>
				</div>
			</div>
			<!-- Button - View More -->
			<div id="col-5" class="mt-4 block md:hidden text-right">
				<button id="view-more" class="custom-filled-button viewmore-button">
					View More
				</button>
			</div>
			<!-- Stacked List Content Ends -->
		</div>
		<!-- Stacked List Ends -->
	</div>
	<!-- List Container Ends -->
</div>




<global-modal [activate_modal]="is_modal_active" (success)="isSuccess($event)" [options]="modal_options"></global-modal>



<section id="add-site" class="container mx-auto">
	<div id="addsection-container" class="w-full p-4">
		<form id="add-section" class="flex items-center justify-around">
			<!-- Site Title -->
			<div id="site-title" class="basis-full md:basis-1/2 lg:basis-1/3">
				<label class="block font-roboto text-lg"> Username </label>
				<input type="text" placeholder="[Optional] Unique title" id="name" name="name" />
			</div>
		</form>
	</div>
</section>
