<!-- left half hidden Blob -->
<svg viewBox="0 0 800 500" class="fixed" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" style="z-index: -1"
	xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
	<g transform="translate(-283, -60)">
		<path class="blob"
			d="M369.5,295.5Q322,341,260.5,407Q199,473,123.5,410Q48,347,114,281.5Q180,216,197.5,155.5Q215,95,268,127.5Q321,160,369,205Q417,250,369.5,295.5Z"
			fill="#fdcb6e"></path>
	</g>
</svg>


<div class="mb-12 md:mb-10">
	<div class="header-container">
		<div class="header flex items-center justify-between">
			<div class="logo-container flex items-center my-4 mx-6 cursor-pointer" routerLink="/">
				<img class="max-w-sm w-20 project-logo justify-self-center" [src]="settings.images.project_logo_icon" alt="Autty Logo"
					title="Autty Logo" />
				<img class="max-w-sm w-36 ml-3 project-logo" [src]="settings.images.project_logo" alt="Autty Logo" title="Autty Logo"
					style="height: 3.6rem;" *ngIf="screenWidth > 767" />
			</div>
			<div class="other-navs-container mx-6 justify-self-end cursor-pointer" *ngIf="navs">
				<div class="nav-items">
					<i class="bi-list w-48 text-3xl text-dark hamburger-icon" *ngIf="screenWidth < 1000"></i>
					<div class="menu-items" *ngIf="screenWidth > 1000">
						<ul class="flex items-center justify-between">
							<li class="block mx-4"> Home </li>
							<li class="block mx-4"> About </li>
							<li class="block mx-4"> Support </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
