#page-not-found
	margin: 0
	padding: 0
	background: #1b1725
	height: 100vh
	width: 100vw

	& .not-found-container
		width: fit-content
		position: absolute
		height: auto
		color: #d0bcd5
		text-align: center
		font-family: "Playfair Display", serif
		text-transform: uppercase
		left: 50%
		transform: translate(-50%, 0%)

.not-found-container span:first-child
	font-size: 13rem
	margin: 0
	padding: 0
	position: relative
	color: #1b1725
	font-family: "Montserrat", sans-serif
	letter-spacing: -15px
	font-weight: 900
	/* text-shadow: -1px -1px 0px #9d4edd, 1px 1px 2px #b1ede8; */
	text-shadow: -1px -1px 2px #9d4edd, 1px 1px 2px #d0bcd5

.not-found-container span:last-child
	font-size: 1.7rem
	margin: 0
	padding: 0
	width: fit-content
	position: relative
	color: #d0bcd5
	letter-spacing: 15px
	font-weight: 500

.return-homepage
	position: relative
