<app-header screen="auth"></app-header>
<!-- AUTHENTICATOR BACKGROUND WHOLE - Blob SVG -->
<svg viewBox="0 0 800 500" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" class="fixed"
	xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" id="blobSvg">
	<g transform="translate(359, 26)">
		<path class="blob"
			d="M390,282Q362,314,347,353Q332,392,291,430.5Q250,469,202.5,442Q155,415,158,358.5Q161,302,112.5,276Q64,250,75.5,203Q87,156,136,146.5Q185,137,217.5,134.5Q250,132,308,90.5Q366,49,402.5,95Q439,141,428.5,195.5Q418,250,390,282Z"
			fill="#fdcb6e"></path>
	</g>
</svg>


<!-- AUTHENTICATOR LOGIN FORM WHOLE -->
<div class="container m-auto absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
	<!-- LOGIN - ERROR MESSAGE BOX -->
	<div id="error-message-container" class="relative z-0 left-1/2 -translate-x-1/2 h-12 w-full mb-1">
		<div id="error-message" class="w-full h-full text-center leading-10 rounded-xl">
			<p id="message" class="text-red-600 text-md md:text-lg" #errormessage></p>
		</div>
	</div>
	<!-- ERROR MESSAGE BOX ENDS -->

	<!-- FORM BOX CONTAINER -->
	<div class="box-container border-4 border-orng-500 h-full max-h-auto mx-auto bg-silver-100 rounded-xl shadow-xl flex flex-col items-center p-5 pb-0 relative overflow-hidden"
		id="box-container">

		<!-- AUTTY LOGO -->
		<div class="logo-image flex items-center justify-center mb-9">
			<img class="max-w-sm w-14 mx-1" [src]="settings.images.project_logo_icon" alt="Autty Logo">
			<!-- <img class="max-w-sm w-32" [src]="settings.images.project_logo" alt="Autty Logo"> -->
		</div>

		<!-- GREETINGS -->
		<div class="w-full text-center pt-3 m-0 tracking-wider">
			Greetings !
		</div>

		<!-- FORM CONTAINER -->
		<div id="form-container" class="form-container w-full">
			<form class="max-w-1/4" [formGroup]="AuthenticationForm">
				<!-- NAME -->
				<div class="my-6 mt-2 w-full" id="username-container" *ngIf="is_signupform_active && state == 1">
					<label for="username" class="text-sm md:text-lg text-center font-fira text-slate-800">
						Your Name
					</label>
					<input type="text" id="full_name" class="custom-input" [attr.autofocus]="is_signupform_active"
						autocomplete="off" placeholder="John Doe Agnima" formControlName="name" />

					<!-- ERROR HANDLING -->
					<div id="error-container" class="errors">
						<div id="error-box" class="text-red-600 text-center font-fira"
							*ngIf="Form.name.invalid && (Form.name.touched || Form.name.dirty)">
							<p *ngIf="Form.name.errors?.required">
								Name is required.
							</p>
							<p *ngIf="Form.name.errors?.pattern">
								Name can only contain alphabets with more than 5 characters .
							</p>
						</div>
					</div>
				</div>

				<!-- USERNAME -->
				<div class="my-6 mt-2 w-full" id="username-container" *ngIf="!is_signupform_active">
					<label for="username" class="text-sm md:text-lg text-center font-fira text-slate-800">
						Username/Email
					</label>
					<input type="text" id="username" class="custom-input w-full text-sm lg:text-lg" autofocus
						formControlName="username" tabindex="1" maxlength="50" autocomplete="off"
						placeholder="John-Doe-1589">
				</div>

				<!-- EMAIL -->
				<div class="my-6 mt-2 w-full" id="email-container" *ngIf="is_signupform_active && state == 2">
					<label for="username" class="text-sm md:text-lg text-center font-fira text-slate-800">
						Email
					</label>
					<input type="text" id="username" class="custom-input lowercase" maxlength="50"
						style="letter-spacing: 1px" autocomplete="off" placeholder="john-doe1589@xyz.com"
						formControlName="email" />

					<!-- ERROR HANDLING -->
					<div id="error-container" class="errors">
						<div id="error-box" class="text-red-600 text-center font-fira"
							*ngIf="Form.email.invalid && (Form.email.touched || Form.email.dirty)">
							<p *ngIf="Form.email.errors?.required">
								Email is required.
							</p>
							<p *ngIf="Form.email.errors?.pattern">
								Email not correct. Please enter a valid email.
							</p>
						</div>
					</div>
				</div>

				<!-- PASSWORD -->
				<div class="my-6 mt-2 w-full" id="password-container" *ngIf="!is_signupform_active || state == 3">
					<label for="password" class="text-sm md:text-lg text-center font-fira text-slate-800">
						Password
					</label>
					<input type="password" id="password" class="custom-input" tabindex="2" style="letter-spacing: 3px"
						autocomplete="off" placeholder="x x x x x x x" formControlName="password" />

					<!-- ERROR HANDLING -->
					<div id="error-container" class="errors">
						<div id="error-box" class="text-red-600 text-center font-fira"
							*ngIf="state > 1 && Form.password.invalid && (Form.password.touched || Form.password.dirty)">
							<p *ngIf="Form.password.errors?.required">
								Password is required.
							</p>
							<p *ngIf="Form.password.errors?.pattern">
								Password can contain alphabets, digits or special characters [@$!%*?&] and mininum 6
								characters.
							</p>
						</div>
					</div>
				</div>

				<!-- CONFIRM PASSWORD -->
				<div class="my-6 mt-2 w-full" id="password-container" *ngIf="is_signupform_active && state == 3">
					<label for="c_password" class="text-sm md:text-lg text-center font-fira text-slate-800">
						Confirm Password
					</label>
					<input type="password" id="c_password" class="custom-input" tabindex="4" style="letter-spacing: 3px"
						autocomplete="off" placeholder="x x x x x x x" (keyup)="checkConfirmPasswordMatch(cpass.value)"
						#cpass />

					<!-- ERROR HANDLING -->
					<div id="error-container" class="errors">
						<div id="error-box" class="text-red-600 text-center font-fira" *ngIf="!is_match_confpass">
							<p>
								Password & Confirm Password does not match.
							</p>
						</div>
					</div>
				</div>

				<!-- FORM FUNCTIONALITY BUTTONS -->
				<div class="flex justify-between items-center m-0 mb-10" [class.justify-end]="is_signupform_active">
					<!-- LOGIN -->
					<div class="submit-button" *ngIf="!is_signupform_active">
						<button type="submit" class="custom-filled-button" (click)="checkAuthLoginCreds()" tabindex="3">
							Log In
						</button>
					</div>

					<!-- FORGOT PASSWORD -->
					<div class="forgot-password font-sans text-sm text-orng-500" *ngIf="!is_signupform_active">
						<a href="/authenticate/forgot-password" class="m-0 p-0 cursor-pointer" tabindex="4">
							Forgot Password <i class="bi bi-question text-base"></i>
						</a>
					</div>

					<!-- BACK BUTTON -->
					<div class="submit-button" *ngIf="is_signupform_active">
						<button type="button" class="custom-back-button" (click)="changeState(true)" *ngIf="state > 1">
							Back
						</button>
					</div>

					<!-- SIGNUP BUTTON -->
					<div class="submit-button" *ngIf="is_signupform_active">
						<button type="button" class="custom-filled-button" (click)="changeState(false)" tabindex="5">
							{{ is_signupform_active && state == max_states ? 'Signup' : 'Next' }}
						</button>
					</div>
				</div>
				<!-- FORM FUNCTIONALITY BUTTONS ENDS -->

				<!-- FORM TYPE CONTAINER -->
				<div class="form-status-container absolute bottom-9 w-72"
					[ngClass]="is_signupform_active ? 'right-full translate-x-28' : 'left-full -translate-x-32'"
					(click)="changeForm()" id="form-status-container">
					<div id="form-status-text" class="border border-orng-500 bg-orng-500  p-4 cursor-pointer"
						[ngClass]="is_signupform_active ? 'rounded-tr-full rounded-br-full hover:translate-x-4 text-right' : 'rounded-tl-full rounded-bl-full hover:-translate-x-4 text-left'">
						<i class="relative bi-chevron-double-left text-silver-100 -translate-x-6"
							*ngIf="is_signupform_active"></i>
						<span class="m-0 mb-2 font-sans text-silver-100 text-2xl font-medium tracking-wide">
							{{is_signupform_active ? 'Login' : 'Signup'}}
						</span>
						<i class="relative bi-chevron-double-right text-silver-100 -translate-x-6"
							*ngIf="!is_signupform_active"></i>
					</div>
				</div>
				<!-- FORM TYPE CONTAINER ENDS -->
			</form>
		</div>
		<!-- FORM CONTAINER ENDS -->
	</div>
	<!-- FORM BOX CONTAINER ENDS -->
</div>
