#error-message-container
	width: 87% !important
	#message.error-animation
		animation: error-animation .2s ease-in-out alternate
@keyframes error-animation
	from
		transform: translateX(1rem)
	to
		transform: translatex(-1rem)

.box-container
	width: 87% !important
	height: 33.5rem

label::after
	content: '*'
	color: #d40b0b
	margin-left: 1px

.bi-chevron-down
	top: -10px
	left: 40%

#form-container
	input
		transition: none
.form-status-container
	height: 70px

.floating-element
	position: fixed
	height: 19rem
	width: 19rem

.floating-element::after
	position: fixed
	content: ""
	bottom: -30px
	background: rgb(43, 42, 42)
	width: 90%
	height: 4px
	left: 3%
	border-radius: 50%
	filter: blur(3px)

// ---------------------------------  Media Queries ------------------------------
@media only screen and (min-width: 650px)
	#error-message-container
		margin-top: 4.5rem
	.box-container, #error-message-container
		width: 60% !important

@media only screen and (min-width: 1024px)
	.box-container, #error-message-container
		width: 40% !important

@media only screen and (min-width: 1440px)
	#error-message-container
		margin-top: 0
	.box-container, #error-message-container
		width: 30% !important
