<div class="container m-auto text-center">
	<div class="w-fit-content">
		<p id="instructions" class="text-md mt-5 text-slate-800 leading-10">
			Do not close this window. <br>
			<span class="tracking-widest w-1/4 font-sourcesans">
				You will automatically be redirected to the login screen. &nbsp; &nbsp; Please Wait ..
			</span>
		</p>
	</div>
	<div id="text-message-container" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-x-1/2 w-full">
		<div id="text-message" class="relative w-auto h-auto">
			<p class="font-bold text-md md:text-7xl uppercase text-slate-800 font-playfair-display">
				Logging you out
			</p>
		</div>
	</div>
</div>
