/* You can add global styles to this file, and also import other style files */
@tailwind base
@tailwind utilities
@tailwind components

*
	box-sizing: border-box
	// note: color changing to be changed in tailwind config file also
	--bg-color: #f1f0ea
	--orng-100: #FFD181
	--orng-200: #FFAB41
	--orng-500: #FF9201
	--orng-800: #FF6D00
	--silver-100: #f1f0ea
	--silver-800: #2b2a2a
	--font-size: 14px
	transition: all 0.4s ease-in-out

body
	background-color: var(--bg-color)
	font-family: 'Lato', sans-serif
	font-size: calc(var(--font-size) + 25%)
	color: var(--black-shade)

input
	background-color: var(--bg-color)
	font-size: calc(var(--font-size) + 24%)
	font-weight: 500
	font-family: 'Roboto', sans-serif
	border-radius: 12px
	border: 2px solid var(--silver-800)
	padding: 0.8rem
.font-sourcesans
	font-family: 'Source Sans Pro', sans-serif

.font-fira
	font-family: 'Fira Sans', sans-serif

input.custom-input
	letter-spacing: 1px
	font-weight: 500
	padding: 8px 11px
	color: var(--silver-800)
	background: var(--silver-100)
	font-family: 'Fira Sans', sans-serif
	border-radius: 0.675rem
	background: #ffffff
	border-width: 1.8px
	width: 100%

/* Buttons Gradient */
button.custom-filled-button
	padding: 0.325rem 1.342rem
	background: var(--orng-500)
	color: var(--silver-100)
	width: auto
	height: auto
	font-family: 'Fira Sans', sans-serif
	border: 1.85px solid var(--orng-500)
	border-radius: 1rem
	font-weight: 600
	font-size: calc(var(--font-size) + 15%)
	letter-spacing: 1px

button.custom-unfilled-button
	padding: 0.525rem 1.975rem
	color: var(--silver-800)
	width: auto
	height: auto
	font-family: 'Fira Sans', sans-serif
	border: 1.85px solid var(--orng-500)
	transition: background 0.2s ease-in-out
	border-radius: 1rem
	font-weight: 500
	font-size: calc(var(--font-size) + 15%)
	letter-spacing: 1px
	&:hover
		background: var(--orng-500)

button.custom-back-button
	padding: 0.325rem 1.175rem
	background: #525252
	color: var(--silver-100)
	width: auto
	height: auto
	font-family: 'Fira Sans', sans-serif
	border: 1.85px solid var(--silver-800)
	border-radius: 0.78rem
	font-weight: 600
	font-size: calc(var(--font-size) + 15%)
	letter-spacing: 1px

.errors
	height: 2rem
	width: auto

.svg-parent
	margin: 0 10px
	.svg-child
		width: 1.8rem
		display: inline-block
		height: auto
